In [ ]:
#ROLL NO:22150
#NAME: Neha Kamalakar Nemade

In [1]:
import os

In [2]:
os.chdir('C:/Users/ADMIN/Desktop/My DataBase')

In [3]:
import sqlite3 as sq

db = sq.connect('mynewdb.db')
cur = db.cursor()
cur.execute('''create table mynewtab14(Roll_no integer primary key, Name text, Marks integer);''')
db.close()

In [4]:
db = sq.connect('mynewdb.db')
cur = db.cursor()
cur.execute('''insert into mynewtab14 values(1,'Tom',99);''')
db.commit()
db.close()

In [5]:
db = sq.connect('mynewdb.db')
cur = db.cursor()
cur.execute('''insert into mynewtab14 values(2,'Sammy',89);''')
db.commit()
db.close()

In [6]:
db = sq.connect('mynewdb.db')
cur = db.cursor()
cur.execute('''insert into mynewtab14 values(3,'Avantika',80);''')
db.commit()
db.close()

In [7]:
db = sq.connect('mynewdb.db')
cur = db.cursor()
cur.execute('''select * from mynewtab11;''')
x = cur.fetchall()
print(x)
db.close()

[(1, 'Tom', 99), (2, 'Sammy', 89), (3, 'Avantika', 80)]

In [8]:
mydb = sq.connect('myschool.db')
mycur = mydb.cursor()
myid = int(input("Enter ID : "))
myname = input("Enter Name : ")
mymarks = float(input("Enter marks : "))

mydb.commit()
mydb.close()

Enter ID : 45
Enter Name : avantika
Enter marks : 45

In [9]:
def insertdata(myid, myname, mymarks):
    db = sq.connect('myschool.db')
    cur = db.cursor()
    cur.execute('''create table mynewtab15(Roll_no integer primary key, Name text, Marks integer);''')
    q = '''insert into mynewtab15 values(4,"savani",90);'''
    data = (myid,myname,mymarks)
    #cur.execute(q,data)
    db.commit()
    db.close()
    
insertdata(10,'sammy',45)

In [10]:
def update(myatt,myval,myid):
    db=sq.connect('mydb.db')
    cur=db.cursor()
    
    if(myatt=='Name'):
        q='''update mynewtab15 set Name='savani' where ID= 4'''
    elif(myatt== 'Division'):
         q='''update mynewtab15 set Division="shruti" '''
            
    data=(myval,myid)
    #cur.execute(q,data)
    print('updated successfully ..\n')
    db.close()
    display()
     
update('Name','Thomas',7)    #Updatename       
update('Division','c',7)     #UpdateDivision

updated successfully ..

updated successfully ..