# pandas module 
# Operating systems(OS) module

In [2]:
import os
cwd=os.getcwd()
print("\ncwd=",cwd)

cwd= C:\Users\Neha Nemade\22150_DA_LAB

In [4]:
import os
cwd=os.getcwd()
print("\ncwd=",cwd)
os.chdir('E:\sem4\DA')
print("\ncwd=",cwd)

cwd= E:\sem4\DA

cwd= E:\sem4\DA

In [5]:
import os
cwd=os.getcwd()
print("\ncwd=",cwd)

cwd= E:\sem4\DA

In [9]:
import os
cwd=os.getcwd()
# print("\ncwd=",cwd)
path1="pandas3"
path2="E:\sem4\DA"
path=os.path.join(path2,path1)
os.mkdir(path)
print("\ncwd=",cwd)

cwd= E:\sem4\DA

In [8]:
import pandas as pd
import numpy as num
import os
cwd=os.getcwd()
print("\nCwd=",cwd)
os.chdir("E:\sem4\DA\pandas3")
print("\nCwd=",cwd)
data=pd.read_csv('data1.csv')
print("data=\n",data)
data2=data.index
print("data2=\n",data2)
data3=data.columns
print("data3=\n",data3)

Cwd= C:\Users\Neha Nemade\22150_DA_LAB

Cwd= C:\Users\Neha Nemade\22150_DA_LAB
data=
    Roll no            Name  marks
0       20  Prasad khalkar    100
1       21  aniket khalkar     98
2       22     priya patil     78
3       23   poonam chavan     90
data2=
 RangeIndex(start=0, stop=4, step=1)
data3=
 Index(['Roll no', 'Name', 'marks'], dtype='object')

#

# SHAPE function

In [10]:
import os
import pandas as pd
import numpy as num
cwd=os.getcwd()
print("\n Data = ",cwd)
os.chdir("E:\sem4\DA\pandas3")
print("\nCwd=",cwd)
data=pd.read_csv('data1.csv')
print("data=\n",data)
no_ele=data.size
print("\n\nno of elements = ",no_ele)
no_row_col=data.shape
print("\n\nnnumber of rows and columns are: ",no_row_col)

 Data =  E:\sem4\DA\pandas3

Cwd= E:\sem4\DA\pandas3
data=
    Roll no            Name  marks
0       20  Prasad khalkar    100
1       21  aniket khalkar     98
2       22     priya patil     78
3       23   poonam chavan     90


no of elements =  12


nnumber of rows and columns are:  (4, 3)

In [3]:
import os
cwd=os.getcwd()
print("\ncwd=",cwd)

cwd= C:\Users\Neha Nemade\22150_DA_LAB

# Dim data

In [12]:
import os
import pandas as pd
import numpy as num
cwd=os.getcwd()
print("\n Data = ",cwd)
os.chdir("E:\sem4\DA\pandas3")
print("\nCwd=",cwd)
data=pd.read_csv('data1.csv')
dim_data=data.ndim
print("\ndim_data=",dim_data)

 Data =  E:\sem4\DA\pandas3

Cwd= E:\sem4\DA\pandas3
data=
    Roll no            Name  marks
0       20  Prasad khalkar    100
1       21  aniket khalkar     98
2       22     priya patil     78
3       23   poonam chavan     90

dim_data= 2

# data.head

In [25]:
import os
import pandas as pd
import numpy as num
cwd=os.getcwd()
print("\n Data = ",cwd)
os.chdir("E:\sem4\DA\pandas3")
print("\nCwd=",cwd)
data=pd.read_csv('data1.csv')
print("data=\n",data)               #This function returns the first n rows for the object based on position
n_f_r=data.head(-1)                 #For negative values of n, this function returns all rows except the last n rows, equivalent to df[:-n].
print("\n\nn_f_r\n=",n_f_r)
n_l_r=data.tail(3)
print("\n\nn_l_r\n=",n_l_r)

 Data =  E:\sem4\DA\pandas3

Cwd= E:\sem4\DA\pandas3
data=
    Roll no            Name  marks
0       20  Prasad khalkar    100
1       21  aniket khalkar     98
2       22     priya patil     78
3       23   poonam chavan     90


n_f_r
=    Roll no            Name  marks
0       20  Prasad khalkar    100
1       21  aniket khalkar     98
2       22     priya patil     78


n_l_r
=    Roll no            Name  marks
1       21  aniket khalkar     98
2       22     priya patil     78
3       23   poonam chavan     90

# search data = data.at()

In [29]:
import os
import pandas as pd
import numpy as num
cwd=os.getcwd()
print("\n Data = ",cwd)
os.chdir("E:\sem4\DA\pandas3")
print("\nCwd=",cwd)
data=pd.read_csv('data1.csv')
print("data=\n",data) 
search_data=data.at[3,'Name']
print("\nsearch=",search_data)

 Data =  E:\sem4\DA\pandas3

Cwd= E:\sem4\DA\pandas3
data=
    Roll no            Name  marks
0       20  Prasad khalkar    100
1       21  aniket khalkar     98
2       22     priya patil     78
3       23   poonam chavan     90

search= poonam chavan

# data.loc and data.iat

In [40]:
import os
import pandas as pd
import numpy as num
cwd=os.getcwd()
print("\n Data = ",cwd)
os.chdir("E:\sem4\DA\pandas3")
print("\nCwd=",cwd)
data=pd.read_csv('data1.csv')
print("data=\n",data) 
index_search=data.iat[2,0]                         #Access a single value for a row/column pair by integer position.
c=data.iat[3,2]
print("\nindex_search= ",index_search,"\nc= ",c)
loc_data=data.loc[1:5,'Name']                      #Access a group of rows and columns by label(s) or a boolean array.
print("\nloc_data=\n",loc_data)
loc_data1=data.loc[1,'Roll no':'marks']
print("\nloc_data=\n",loc_data1)

 Data =  E:\sem4\DA\pandas3

Cwd= E:\sem4\DA\pandas3
data=
    Roll no            Name  marks
0       20  Prasad khalkar    100
1       21  aniket khalkar     98
2       22     priya patil     78
3       23   poonam chavan     90

index_search=  22
c=  90

loc_data=
 1    aniket khalkar
2       priya patil
3     poonam chavan
Name: Name, dtype: object

loc_data=
 Roll no                21
Name       aniket khalkar
marks                  98
Name: 1, dtype: object